* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Tahoma", serif
}
:root {
    --bg-color: #000000;
    --second-bg-color: #1b07d5;
    --text-color: #fcfcfa;
    --main-color: #CEFF00;
    --really-not-white: #f0f0f0
}
html {
    font-size: 60%;
    overflow-x: hidden;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 15%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
#menu-icon {
    font-size: 3.5rem;
    color: var(--main-color);
    display: none;
}
.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover {
        transform: scale(1.1);
}
span{
    background: linear-gradient(
    270deg,
    #BAD1CEFF 10%,
    #CEFF00
    );
    background-clip: text;
    color: transparent;
}
.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}
.navbar a:hover {
    color: #ceff00;
    border-bottom: 3px solid var(--main-color);
}
.gradient-btn {
    font-size: 1.8rem;
    padding: 1rem 2rem; /* tady jsem špekuloval proč to nefunguje*/
    border-radius: 3rem;
    background: linear-gradient(
            270deg,
            #BAD1CEFF 10%,
            #CEFF00
    );
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: var(--really-not-white);
    border: none;
    text-wrap: nowrap;
}
.gradient-btn:hover {
    transform: scale(1.05);
}

section{
    min-height: 100vh;
    padding: 10rem 15%;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}
.home-content h1{
    font-size: 8rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-content h3{
    margin: 1rem 0;
    font-size: 4rem;
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
}
.home-img img{
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}
.home-img:hover img{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}